@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(162, 202, 242);
  color: rgb(67, 42, 165);
  text-align: center;
  margin-top: 100px;
}

#navbar {
  color: darkgray;
  position: absolute;
  top: 0px;
  width: 100%;
}
